mixin sadebar 
  section 
    button.sidebar__toggle 
      span.fas.fa-bars

    aside.sidebar
      .sidebar__header  
        .logo danilenko
        button.close-btn
          i.fas.fa-times

      ul.sidebar__links
        li
          a(href="../../index.html") Home
        li
          a(href="color/color.html") Color
        li
          a(href="counter/counter.html") Counter
        li
          a(href="modal/modal.html") Modal  
        li
          a(href="questions/questions.html") Questions
        li
          a(href="menu/menu.html") Menu  
        li
          a(href="tetris/tetris.html") Tetris  
    