include ../../../blocks/button-home/button-home
include ../../../blocks/tetris/tetris

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel="stylesheet" href="/css/tetris.css")
    title Tetris
  body

    block content

      +button-home()
      +tetris()

  script(src="/js/main.min.js")