mixin tetris
  section 
    h3 Score 
      span#tetris-score 0
    button#tetris-start-button Start/Pause  
    .grid
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      div 
      .taken 
      .taken 
      .taken 
      .taken 
      .taken 
      .taken 
      .taken 
      .taken 
      .taken 
      .taken 






































































































































































































