mixin modal-project 
  section   
    .modal__hero
      .modal__banner
        h1 modal project
        button.btn.modal__btn open modal
    .modal__overlay
      .modal__container
        h3 modal content
        button.modal__close-btn
          span.fas.fa-times
