mixin header 
  nav
    .nav-center
      .nav-header
        .logo danilenko
        button.nav-toggle
          span.fas.fa-bars

      ul.links
        li
          a(href="index.html") Home
        li
          a(href="/color.html") About
        li
          a(href="projects/projects.html") projects
        li
          a(href="index.html") contact  

      ul.social-icons
        li
          a(href="https://www.twitter.com")
            span.fab.fa-facebook
        li
          a(href="https://www.twitter.com")
            span.fab.fa-twitter
        li
          a(href="https://www.twitter.com")
            span.fab.fa-behance
        li
          a(href="https://www.twitter.com")
            span.fab.fa-linkedin   
        li
          a(href="https://www.twitter.com")
            span.fab.fa-sketch           
